<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="stable">
            <file>Board/SquareTest.php</file>
            <file>Board/Piece/KingTest.php</file>
            <file>Board/Piece/QueenTest.php</file>
            <file>Board/Piece/BishopTest.php</file>
            <file>Board/Piece/KnightTest.php</file>
            <file>Board/Piece/RookTest.php</file>
            <file>Board/Piece/PawnTest.php</file>
            <file>Board/MoveTest.php</file>
            <file>BoardTest.php</file>
            <file>Board/CastlingTest.php</file>
            <file>Board/PassantTest.php</file>
            <file>Board/testGetMoves/KingTest.php</file>
            <file>Board/testGetMoves/QueenTest.php</file>
            <file>Board/testGetMoves/BishopTest.php</file>
            <file>Board/testGetMoves/KnightTest.php</file>
            <file>Board/testGetMoves/RookTest.php</file>
            <file>Board/testGetMoves/PawnTest.php</file>
            <file>Board/SetPossibleMovesTest.php</file>
            <file>Board/CheckmateTest.php</file>
            <file>GameTest.php</file>
            <file>AiTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>